@using Dominio.Entidad.Entidad;
@{
    dynamic sedePrincipal = null;
    foreach (var sede in ViewBag.sedes)
    {
        if (sede.IdSede == 1)
        {
            sedePrincipal = sede;
            break;
        }
    }
    ViewBag.Title = "Index";
}

<main class="container-main">

    <!-- Sección de Servicios -->
    <section id="servicios" class="servicios-section my-3">
        <h2 class="section-title">Nuestros Servicios</h2>
        <div class="servicios-container">
            @foreach (var servicio in ViewBag.servicios)
            {
                <div class="servicio-card">
                    <img src="~/imagenes/Servicios/S@(servicio.IdServicio).jpg" alt="@servicio.Descripcion" />
                    <h3>@servicio.Descripcion</h3>
                </div>
            }
        </div>
    </section>

    <!-- Sección de Veterinarios -->
    <section id="veterinarios" class="veterinarios-section my-3">
        <h2 class="section-title">Nuestro Equipo Veterinario</h2>
        <div class="cards-container">
            @foreach (var veterinario in ((IEnumerable<dynamic>)ViewBag.veterinarios).Take(4))
            {
                <div class="card-rounded">
                    <img src="~/imagenes/Veterinarios/V@(veterinario.IdVeterinario).jpg" alt="@veterinario.Nombre" class="card-photo" />
                    <h3>@veterinario.Nombre</h3>
                    <p>@veterinario.Especialidad</p>
                </div>
            }
        </div>
    </section>

    @if (sedePrincipal != null)
    {
        <section id="sede-principal" class="sede-section">
            <h2 class="section-title">Nuestra Sede Principal</h2>
            <div class="sede-container">
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=..."
                            width="100%"
                            height="300"
                            style="border:0;"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>

                <div class="sede-details">
                    <h4 class="sede-nombre">@sedePrincipal.Nombre</h4>
                    <p><span class="label">Dirección:</span> @sedePrincipal.Direccion</p>
                    <p><span class="label">Teléfono:</span> @sedePrincipal.Telefono</p>
                    <a href="@Url.Action("Sedes","Home")" class="btn-ver-sedes">Ver más Sedes</a>
                </div>
            </div>
        </section>

    }

</main>
