<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <img src="~/imagenes/logo.png" class="logo">
            <ul class="navbar-links">
                <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Nosotros", "Nosotros", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Productos", "ListaProductos", "Producto", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Sedes", "Sedes", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>
                    @Html.ActionLink("Agendar Cita", "Contact", "Home", new { area = "" }, new { @class = "nav-link boton-agendar" })
                </li>

            </ul>
        </div>
    </nav>
    <div class="banner">
        <img src="~/imagenes/banner.png" />
    </div>
    
    <div class="container">
        @RenderBody()
        <hr />
        <footer class="footer">
            <div class="container footer-content">
                <div class="footer-text">
                    <p>&copy; 2025 Miau&Guau. Todos los derechos reservados.</p>
                    <p>Amamos cuidar de tus mejores amigos.</p>
                </div>
                <div class="footer-social">
                    <a href="#" target="_blank"><img src="~/imagenes/facebook.png" alt="Facebook" class="social-icon" /></a>
                    <a href="#" target="_blank"><img src="~/imagenes/instagram.png" alt="Instagram" class="social-icon" /></a>
                    <a href="#" target="_blank"><img src="~/imagenes/whatsapp.png" alt="WhatsApp" class="social-icon" /></a>
                </div>
            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
